# Expo / React Native
node_modules/
.expo/
dist/
web-build/
expo-env.d.ts
.env
.env.production
.env.*.local

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
android/
ios/

# Metro
.metro-health-check*

# Misc
npm-debug.*
yarn-error.*
.DS_Store
*.log
